<div class="container">
  <div class="card">
    <div class="card-header bg-primary">
      <h5>Filtros</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <label for="nome">Nome Vacina:</label>
            <input
              type="text"
              id="nome"
              class="form-control"
              name="nomeVacina"
              [(ngModel)]="seletor.nomeVacina"
            />
          </div>
          <div class="col-md-4">
            <label for="nome">Nome País:</label>
            <!--<input type="text" id="nome" class="form-control" name="nomePais" [(ngModel)]="seletor.nomePais"> -->
            <select
              class="form-control"
              name="nomePais"
              [(ngModel)]="seletor.nomePais"
            >
              @for (pais of paises; track pais.idPais) {
              <option ngValue="{{ pais.nomePais }}">
                {{ pais.nomePais }} ({{ pais.sigla }})</option>
              }
            </select>
          </div>
          <div class="col-md-4">
            <label for="nome">Nome Pesquisador:</label>
            <!-- <input type="text" id="nome" class="form-control" name="nomePesquisador"  [(ngModel)]="seletor.nomePesquisador">-->
            <select
              class="form-control"
              name="nomePesquisador"
              [(ngModel)]="seletor.nomePesquisador"
            >
              @for (pessoa of pesquisadores; track pessoa.id) {
              <option value="{{ pessoa.nome }}">{{ pessoa.nome }}</option>
              }
            </select>
          </div>
          <div class="col-md-2" >
            <label for="date">Inicio da vacina. Em:</label>
            <input type="date" id="inicio" class="form-control" name="dataPesquisa"  [(ngModel)]="seletor.dataInicioPesquisa">

          </div>
          <div class="col-md-2">
            <label for="date">Até: </label>
            <input type="date" id="nome" class="form-control" name="dataPesquisa"  [(ngModel)]="seletor.dataFinalPesquisa">

          </div>
          <div class="row" >
            <div class="col-md-16 form-group">
              <label for="btnPesquisar" class="form-label">&nbsp;</label>
              <button
                type="submit"
                class="btn btn-success"
                name="btnPesquisar"
                (click)="pesquisar()"
              >
                Pesquisar
              </button>
              <label for="btnLimpar" class="form-label">&nbsp;</label>
              <button type="submit" class="btn btn-warning" (click)="limpar()">
                Limpar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <table class="table table-striped border">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Pais</th>
          <th>Pesquisador</th>
          <th>Estagio</th>
          <th>Iniciou em:</th>
          <!-- <th >Média</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacina of vacinas">
          <td>{{ vacina.nome }}</td>
          <td>{{ vacina.paisOrigem.nomePais }}</td>
          <td>{{ vacina.pesquisador.nome }}</td>
          <td>{{ vacina.estagio }}</td>
          <td>{{ vacina.dataInicioPesquisa| date : "dd/MM/yyyy" }}</td>
          <!-- <td> {{ vacina.mediaVacina }} </td> -->
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary" >Editar</button>
              <button class="btn btn-danger " (click)="excluir(vacina.id)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



