<div class="container">
  <pre> {{vacinacao | json}} </pre>
    <form>
        <div class="card">
            <div class="card-header">
              <h5> {{ idVacinacao ? 'Editar' : 'Nova'}} vacinação</h5>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="nomeVacina">Nome da Vacina:</label>
                        <select class="form-control" name="nomeVacina"  [(ngModel)]="vacinacao.vacina" required>
                          @for (vacina of vacinas; track vacina.id) {
                          <option [ngValue]="vacina">{{ vacina.nome }}</option>
                          }
                      </select>

                    </div>
                    <div class="form-group col-md-5">
                        <label for="nomePesquisador">Nome da Pessoa:</label>
                        <select class="form-control" name="nomePesquisador" [(ngModel)]="vacinacao.idPessoa" required>
                            @for (pessoa of pessoas; track pessoa.id) {
                            <option [ngValue]="pessoa.id">{{ pessoa.nome }}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="nomeVacina">Data aplicação:</label>
                        <input type="date" class="form-control" name="nome" [(ngModel)]="vacinacao.dataVacina" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="nomeVacina">Nota de avaliação:</label>
                        <input type="number" class="form-control" name="nome" [(ngModel)]="vacinacao.avaliacao" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-1 ">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-outline-success" (click)="salvar()">Salvar</button>
                    </div>
                    <div class="form-group col-md-1 ">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-outline-warning" (click)="voltar()">Voltar</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
